{% block content %}
{% load staticfiles %}
<style>
	p{
		text-align: justify;
		margin-top: 100px;		
		font-size: 16px;
		padding-bottom: 50px;
	}
	p.double {
		outline-style: double;
		background-color: lightgrey;
		padding-left: 10px;
		padding-top: 10px;
		margin-top: 200px;		
	}
	body{
		background-image: url("{% static 'personal/img/sky.jpg' %}");
		background-size: cover;
	}
</style>
{% load staticfiles %}
<body class="body" style="background-color: #aaa">
	<div class="container-fluid" style="height:800px;">		
		<p class="double">			
			<b>Name:&emsp;</b>Tapopadma Tripathy<br>
			<b>Date of Birth:&emsp;</b>20th March, 1995<br>
			<b>Hobbies:&emsp;</b>Singing, Swimming, TV Series<br>
			<b>Native of:&emsp;</b>Odisha(India)<br>
			<b>Love to:&emsp;</b>take part in Competitve Coding contests<br>
			<b>Codechef Handle:&emsp;</b><a href="https://www.codechef.com/users/tapopadma" target=_blank>tapopadma</a><br>
			<b>Codeforces Handle:&emsp;</b><a href="http://codeforces.com/profile/tapopadma" target=_blank>tapopadma</a><br>
			<b>Topcoder Handle:&emsp;</b><a href="https://www.topcoder.com/members/tapopadma" target=_blank>tapopadma</a><br>
			<b>Hackerrank Handle:&emsp;</b><a href="https://www.hackerrank.com/tapopadma" target=_blank>tapopadma</a><br>
			<b>Hackerearth Handle:&emsp;</b><a href="https://www.hackerearth.com/@silu" target=_blank>tapopadma</a><br>
			<b>My CV:&emsp;</b>click <a href="https://drive.google.com/file/d/0B8gA-6HW54yAUTNPLWhTNVZzSE0/view?usp=sharing" target="_blank">here</a><br>
		</p>	
	</div>
</body>
{% endblock %}