<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;       
    overflow: hidden;
    background-color: #222;
    text-align: center;
}
li{
	display: inline;
	color: #ddd;    
    font-weight: bold;    
}
li a{	
    color: #aaa;    
    font-weight: bold;
}
li a:visited{
	color: #aaa;
}
li a:hover {
    color: white;
}
</style>
<footer>	
	<ul><li>&emsp;</li></ul>
	<ul>
		<li><a href="/contact" target="_blank">Contact</a>
		</li><font style="color:#aaa">|</font>
		<li>
		<a href="https://in.linkedin.com/in/tapopadmatripathy" target="_blank">LinkedIn</a> 			
		</li><font style="color:#aaa">|</font>
		<li>
		<a href="https://twitter.com/Tapopadma1" target="_blank">Twitter</a>
		</li><font style="color:#aaa">|</font>
		<li>			
		<a href="https://plus.google.com/u/0/+TapopadmaTripathy" target="_blank">Google+</a>
		</li><font style="color:#aaa">|</font>
		<li>
		<a href="https://www.facebook.com/tapopadma.tripathy.96" target="_blank">Facebook</a>
		</li><font style="color:#aaa">|</font>
		<li>
		<a href="https://www.quora.com/profile/Tapopadma-Tripathy" target="_blank">Quora</a></li>
	</ul>	
	<ul><li>&emsp;</li></ul>
	<ul>
		<li>To see code of this Website click <a href="https://github.com/tapopadma/myWebsite">here</a></li>
	</ul>
	<ul><li>&emsp;</li></ul>
	<ul><li>This is site is non-commercial</li></ul>
	<ul><li>&emsp;</li></ul>
</footer>	