<footer>	
	<div class="block" style="background-color:#222" >
		<div class="container-fluid" style='margin-left:400px'>
			<br>
			<p><a href="/contact" target="_blank"><font style="color: #aaa"><b>Contact</b></font></a>
			<font style="color: #aaa"><b>|</b></font>
			<a href="https://in.linkedin.com/in/tapopadmatripathy" target="_blank"><font style="color: #aaa"><b>LinkedIn</b></font></a> 
			<font style="color: #aaa"><b>|</b></font>
			<a href="https://twitter.com/Tapopadma1" target="_blank"><font style="color: #aaa"><b>Twitter</b></font></a>
			<font style="color: #aaa"><b>|</b></font>
			<a href="https://plus.google.com/u/0/+TapopadmaTripathy" target="_blank"><font style="color: #aaa"><b>Google+</b></font></a>
			<font style="color: #aaa"><b>|</b></font>
			<a href="https://www.facebook.com/tapopadma.tripathy.96" target="_blank"><font style="color: #aaa"><b>Facebook</b></font></a>
			<font style="color: #aaa"><b>|</b></font>
			<a href="https://www.quora.com/profile/Tapopadma-Tripathy" target="_blank"><font style="color: #aaa"><b>Quora</b></font></a></p>
			<br>
		</div>
	</div>
</footer>	