<footer style="background-color:#222;clear: both;position: relative;z-index: 10;height: 10em;margin-top: -3em;">
	<center>
	<ul>		
		<li><a href="/contact" target="_blank"><font style="color: #aaa"><b>Contact</b></font></a>
		</li>
		<li>
		<a href="https://in.linkedin.com/in/tapopadmatripathy" target="_blank"><font style="color: #aaa"><b>LinkedIn</b></font></a> 			
		</li>
		<li>
		<a href="https://twitter.com/Tapopadma1" target="_blank"><font style="color: #aaa"><b>Twitter</b></font></a>
		</li>
		<li>			
		<a href="https://plus.google.com/u/0/+TapopadmaTripathy" target="_blank"><font style="color: #aaa"><b>Google+</b></font></a>
		</li>
		<li>
		<a href="https://www.facebook.com/tapopadma.tripathy.96" target="_blank"><font style="color: #aaa"><b>Facebook</b></font></a>
		</li>
		<a href="https://www.quora.com/profile/Tapopadma-Tripathy" target="_blank"><font style="color: #aaa"><b>Quora</b></font></a></li>			
	</ul>	</center>	
</footer>	