<!DOCTYPE html>
<html lang="en">

<head>
	<title>Tapopadma Tripathy | Home</title>
	<meta charset="utf-8" />	
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<style type="text/css">
		html, 
		body{
			height: 100%;						
		}		
	</style>		

	<div class="navbar navbar-default navbar-fixed-top navbar-inverse" style="background-color: #222">	
		<div class="container">					
			<div class="collapse navbar-collapse" id="additional">
				<ul class="nav navbar-nav">
					<li id="home">
						<a href="/" style='margin-left:50px'>
							<b><font size="4">Home</font></b>
						</a>
					</li>
					<li id="aboutme"><a href="/aboutme"><b><font size="4">About Me</font></b></a></li>
					<li id="skills"  class="active">
						<a href="/skills"><b><font size="4">Skills</font></b></a>
					</li>
					<li id="career"><a href="/career"><b><font size="4">Career</font></b></a></li>
					<li id="achievements">
						<a href="/achievements">
							<b><font size="4">Achievements</font></b>
						</a>
					</li>
					<li id="blog"><a href="/blog"><b><font size="4">Blog</font></b></a></li>
					<li id="contact"><a href="/contact"><b><font size="4">Contact</font></b></a></li>
				</ul>
				<p><font size="6" style="color: #aaa">&emsp;&emsp;<b>Tapopadma Tripathy</b></font></p>
			</div>
		</div>
	</div><br><br><br><br>

</head>	

</html>