{% block content %}
<div class="container">
	<p style="text-align: justify;margin-top: 10px;margin-bottom: 100px;"><font size="3">
		Hello! Welcome to my website! Well, I wasn't expecting guests. Umm, my name is Tapopadma. I am a competitive programmer. I have been taking part in a bunch of programming events through online websites like codeforces, codechef, hackerrank, hackerearth, Topcoder etc. Suddenly I went crazy about django framework because of its systematic project structure, easy-to-implement approach for both back-end and front-end developments. Hence I implemented this simple website on django framework. Frankly, This is my very first web development project.
	</font></p>	

	<p style="text-align: justify;margin-top: 100px;margin-bottom: 100px;"><font size="3">
		This website contains sections having the brief details of my skills, career, life, hobbies. I will keep updating features of this website. Thank you for visiting my website.
	</font></p>	
</div>
{% endblock %}