{% include 'personal/includes/header7.html' %}

<body class="body" style="background-color: #aaa">
	<div class="container-fluid" style="min-height: 95%;">
		<header style="margin-top: 100px;margin-left: 100px;">
			<h1><b>Wanna send me a message?</b></h1>
			<span class="byline">
				<font size="4"><b>Cool! &#9786;</b></font>
			</span>
		</header><br><br><br>

		<div class="container">
			<section>
				<form method="post" class="cf" style="margin-top: 10px;margin-bottom: 100px;">
					<div class="row">
						<div class="col-lg-6">
							<div class="input-group-lg">
							    {% csrf_token %}
							    {{form}}
							</div>
						</div>					    
					</div><br>
					<div class="row">
						<div class="col-lg-6">
							<div class="form-actions">
							      <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
							</div>
						</div>
					</div>
				</form>
			</section>
		</div>

	</div>
</body>

{% include 'personal/includes/footer.html' %}