{% include 'personal/includes/header1.html' %}

<body class="body" style="background-color: #aaa">
	<div class="container-fluid" style="min-height: 95%; ">
		<div class="row">
			<div class="col-sm-10" style="margin-top: 50px;">
				<br>
				<center>					
					<img src="./static/personal/img/myprofile.jpg">
				</center>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10">
				<br><br>
				<center>
					<h3><strong>Welcome to my website!</strong></h3>
				</center><br>								
			</div>
		</div>		
		{% include 'personal/includes/homecontent.html' %}						
	</div>
</body>

{% include 'personal/includes/footer.html' %}